<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System</title>

 <style>
        /* CSS Style */
        .center {
            text-align: center;
        }
    </style>
</head>


</head>
<body>
<div class="center">
<p>
     <h2> Cure Well Hospital<br><br>
        Hospital Management System <br>
     </br> </h2></p>

    <ul>
        <li><a href="/add_doctor">Add Doctor</a></li>
        <li><a href="/add_patient">Add Patient</a></li>
        <li><a href="/add_prescription">Add Prescription</a></li>
    </ul>
</div>
</body>
</html>
